@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text Helpers */
.content {
	@apply font-normal;
}
.content-lg {
	@apply text-lg;
}
.content-lg-b {
	@apply text-lg font-bold;
}
.content-xl {
	@apply text-xl font-normal;
}
.content-xl-sb {
	@apply text-xl font-semibold;
}
.content-2xl {
	@apply text-2xl font-normal;
}
.content-2xl-sb {
	@apply text-2xl font-semibold;
}
.content-3xl {
	@apply text-2xl font-normal;
}
.content-3xl-sb {
	@apply text-3xl font-semibold;
}
.content-4xl {
	@apply text-4xl font-bold;
}
.content-5xl {
	@apply text-5xl font-bold;
}
.content-6xl {
	@apply text-6xl font-bold;
}
.content-subcategory {
	@apply text-base font-medium uppercase tracking-wide;
}
.content-label {
	@apply text-base font-semibold;
}

@font-face {
	font-family: 'Ageo';
	font-weight: 100;
	src: url('/fonts/ageo/thin.woff2') format('woff2'), url('/fonts/ageo/thin.woff') format('woff'),
		url('/fonts/ageo/thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 100;
	font-style: italic;
	src: url('/fonts/ageo/thinitalic.woff2') format('woff2'),
		url('/fonts/ageo/thinitalic.woff') format('woff'),
		url('/fonts/ageo/thinitalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 200 300;
	src: url('/fonts/ageo/light.woff2') format('woff2'), url('/fonts/ageo/light.woff') format('woff'),
		url('/fonts/ageo/light.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 200 300;
	font-style: italic;
	src: url('/fonts/ageo/lightitalic.woff2') format('woff2'),
		url('/fonts/ageo/lightitalic.woff') format('woff'),
		url('/fonts/ageo/lightitalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 400;
	src: url('/fonts/ageo/regular.woff2') format('woff2'),
		url('/fonts/ageo/regular.woff') format('woff'),
		url('/fonts/ageo/regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 400;
	font-style: italic;
	src: url('/fonts/ageo/regularitalic.woff2') format('woff2'),
		url('/fonts/ageo/regularitalic.woff') format('woff'),
		url('/fonts/ageo/regularitalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 500;
	src: url('/fonts/ageo/medium.woff2') format('woff2'),
		url('/fonts/ageo/medium.woff') format('woff'), url('/fonts/ageo/medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 500;
	font-style: italic;
	src: url('/fonts/ageo/mediumitalic.woff2') format('woff2'),
		url('/fonts/ageo/mediumitalic.woff') format('woff'),
		url('/fonts/ageo/mediumitalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 600;
	src: url('/fonts/ageo/semibold.woff2') format('woff2'),
		url('/fonts/ageo/semibold.woff') format('woff'),
		url('/fonts/ageo/semibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 600;
	font-style: italic;
	src: url('/fonts/ageo/semibolditalic.woff2') format('woff2'),
		url('/fonts/ageo/semibolditalic.woff') format('woff'),
		url('/fonts/ageo/semibolditalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 700;
	src: url('/fonts/ageo/bold.woff2') format('woff2'), url('/fonts/ageo/bold.woff') format('woff'),
		url('/fonts/ageo/bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 700;
	font-style: italic;
	src: url('/fonts/ageo/bolditalic.woff2') format('woff2'),
		url('/fonts/ageo/bolditalic.woff') format('woff'),
		url('/fonts/ageo/bolditalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 800;
	src: url('/fonts/ageo/extrabold.woff2') format('woff2'),
		url('/fonts/ageo/extrabold.woff') format('woff'),
		url('/fonts/ageo/extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 800;
	font-style: italic;
	src: url('/fonts/ageo/extrabolditalic.woff2') format('woff2'),
		url('/fonts/ageo/extrabolditalic.woff') format('woff'),
		url('/fonts/ageo/extrabolditalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 900;
	src: url('/fonts/ageo/heavy.woff2') format('woff2'), url('/fonts/ageo/heavy.woff') format('woff'),
		url('/fonts/ageo/heavy.ttf') format('truetype');
}
@font-face {
	font-family: 'Ageo';
	font-weight: 900;
	font-style: italic;
	src: url('/fonts/ageo/heavyitalic.woff2') format('woff2'),
		url('/fonts/ageo/heavyitalic.woff') format('woff'),
		url('/fonts/ageo/heavyitalic.ttf') format('truetype');
}
